#ignore files

.snakemake/*
resources/*
results/*
nohup*.out
pipeliner.*.cmds
snakejob_logs/*
busco_*.log
core.*
report.zip

#keep folder
!results/.gitkeep 
!resources/.gitkeep 

#keep adapter file
!resources/Dario_custom_adapters.fa
#keep subdir example
!resources/developing_workflow/*
